---
---

@import "{{ site.theme }}";

body{
  font-family: 'Roboto', sans-serif;
}

header{
  position: inherit;
}

#title{
  word-spacing: 500px;
  font-size: 3em;
}

.downloads{
  position: inherit;
  border: initial;
  background: inherit;
}

.downloads li{
  border: initial;
}

.downloads li a{
  font-size: 25px;
  line-height: normal;
}

a:hover{
  color:#2660bf;
  text-decoration: underline;
  font-weight: inherit;
}

.downloads li a:hover{
  color: #58729b;
  font-weight: normal;
}

@media print, screen and (max-width: 960px) {
  #youtube-section {
    display: none;
  }

}
